<section>
   

    <div class="container">
        <h2>Nytt spel</h2>
        <form action="">
            <div class="row">
                <div class="col"><label for="title">Titel</label></div>
            </div>
            <div class="row">
                <div class="col"><input type="text"></div>  
            </div>
            
            <br>
            <br>
            <label for="description">Beskrivning</label>
            <br>
            <input type="text">
            <br>
            <br>
            <label for="image">Bild</label>
            <br>
            <input type="file" id="image" name="image">
            <br>
            <br>
            <label for="genre">Genre</label>
            <br>
            <select name="genre" id="genre" placeholder="Genre">
                <!-- <option value="" selected disabled>Genre</option> -->
                <option value="adventure">Äventyr</option>
                <option value="puzzle">Pussel</option>
                <option value="action">Action</option>
                <option value="boardgames">Brädspel</option>
            </select>
            <br>
            <br>
            
            <label for="release_year">Lanseringsår</label>
            <br>
            <input type="date" id="release_year" name="release_year">

            <br>
        <br>
        
        <button type="submit">Lägg till</button>
        </form>
    </div>
    
</section>