body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(86, 92, 70);
}

img {
  width: 100%;
}

.table-titles {
  background-color: rgb(211, 223, 178);
}
.site-header {
  background-color: rgb(234, 255, 179);
  /* background-color: rgb(167, 252, 221); */
}

.site-header ul.icons {
  list-style: none;
}


.site-footer {
  background-color: rgb(234, 255, 179);
  padding: 20px 0;
}
