<section>
    <h2>Nytt highscore</h2>
    <form action="">
        <label for="title">Spel</label>
        <br>
        <select name="" id="">
            <option value="">Speltitel uno</option>
        </select>
        
        <br>
        <br>

        <label for="description">Spelare</label>
        <br>
        <input type="text">

        <br>
        <br>

        <label for="scoreDate">Datum</label>
        <br>
        <input type="date" id="scoreDate" name="scoreDate">

        <br>
        <br>

        <label for="score">Poäng</label>
        <br>
        <input type="number">
        
        <br>
        <br>
        
        <button type="submit">Lägg till</button>
    </form>
</section>